dvc==2.9.5
joblib==1.1.0
jupyter==1.0.0
jupyter_contrib_nbextensions==0.5.1
matplotlib==3.5.1
numpy==1.22.2
pandas==1.4.1
pytest==7.0.1
python-box==5.4.1
pyyaml==6.0
scikit-learn==1.0.2
scipy==1.8.0
tqdm==4.62.3